@import "tailwindcss";

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #7e22ce;
  }
  50% {
    box-shadow: 0 0 10px #fff, 0 0 20px #7e22ce;
  }
}

.animate-glow {
  animation: glow 1.5s ease-in-out infinite;
}

/* index.css ya globals.css me */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: rgb(30,41,57); /* Tailwind gray-200 */
}
